<h1> listing users </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td>me</td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete,
                                          data:{ confirm: 'Are you sure?' }
            %>
        </td>
      </tr>
    <% end %>
  </table>

  <br>
  <%= link_to 'New User', new_user_path %>