<h1>New user<h1>
<div class="skinny_wrapper wrapper_padding">
  <%= form_for @user do |f|%>
    <%= f.label :name %> <br>
    <%= f.text_field :name, required: true, class: 'form-control' %>
    <br>
    <%= f.label :email %><br>
    <%= f.text_field :email, required: true, class: 'form-control' %>
    <br>
    <%= f.submit 'Save', class: 'button'%>
  <% end %>
</div>

