<h1>New user</h1>
  <%= form_for @user do |f|%>
    <div class="form-group">
      <div class="form-input-container">
        <%= f.label :name, class: 'col-sm-2 col-form-label' %> <br>
      <div class="col-sm-10">
        <%= f.text_field :name, required: true, class: 'form-control' %>
      </div>
      <br>
        <%= f.label :email, class: 'col-sm-2 col-form-label' %><br>
      <div class="col-sm-10">
        <%= f.text_field :email, required: true, class: 'form-control' %>
      </div>
        <br>
        <%= f.button 'Save', class: 'btn btn-primary'%>
      </div>
    </div>
  <% end %>

