<h1>Todo Lists</h1>
<div class="container table-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class= "table-hover table-bordered table-striped table-condensed display" id="static-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Todo Title</th>
            <th scope="col">Content</th>
            <th scope="col">Created At</th>
            <th scope="col" colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @todos.each do |todo| %>
            <tr>
              <th scope="row"><%= todo.title %></th>
              <td><%= todo.content %></td>
              <td><%= todo.created_at %></td>
              <td><%= link_to 'Show', todo %></td>
              <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
              <td><%= link_to 'Delete', todo, method: :delete,
                                              data:{confirm: "Are you sure"} 
                  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <br>
  <%= link_to 'New Todo', new_todo_path %>