<h1>Todo</h1>
<%= form_for @todo do |t|%>
<%= f.label :name, class:''%> <br>
<%= f.text_field :name, required: true, class: ''%>
<%= f.label :content, class: ''%> <br>
<%= f.text_field :content, required: true, class: ''%>
<% end %>
